#container {
    height: 500px;
    width: 80%;
    background-color: azure;
    border: 2px solid black;
    margin: 20px auto;
    display: flex;
}

#ind {
    flex-shrink: 3;
}

#org {
    flex-shrink: 5;
}


h1 {
    text-align: center;
}

#container div {
    height: 200px;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 2em;
}